{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}The IMG cut{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" enctype=multipart/form-data>
    <img class="pure-img-responsive" src="{{ url_for('static', filename=user_image) }}" style="width:60%;height:60%;">
    <img class="pure-img-responsive" src="{{ url_for('static', filename=Face_detected) }}" style="width:60%;height:60%;">

    <input type="submit" value="Show Landmarks">
    <!doctype html>

  </form>
{% endblock %}